@model BENT1C.Grupo5.Entidades.Gasto

@{

    string errorMessage = TempData["Error"] as string;
    var hayError = !string.IsNullOrWhiteSpace(errorMessage);
    ViewData["Title"] = "Crear";
}

<h1>Cargar Gastos por Gerencia</h1>
<hr />
<div class="container ">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Monto" class="control-label"></label>
                    <input asp-for="Monto" class="form-control" />
                    <span asp-validation-for="Monto" class="text-danger">
                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" type="date" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CentroDeCostoId" class="control-label"></label>
                    <select asp-for="CentroDeCostoId" class="form-control" asp-items="ViewBag.CentroDeCostoId">
                        <option value="" disabled selected hidden>Seleccione un centro de costo</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="EmpleadoId" class="control-label"></label>
                    <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId" name="elvalor" required>
                        @if ((User.IsInRole(nameof(Rol.Administrador))) || ((User.IsInRole(nameof(Rol.Rrhh)))))
                        {
                            <option value="" disabled selected hidden>Seleccione un empleado</option>
                        }
                    </select>
                    <span asp-validation-for="EmpleadoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="EmpleadoId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-primary" asp-route-empleadoId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Volver</a>
                </div>


            </form>
        </div>
    </div>
</div>




@if (hayError)
{
    @section Scripts {
        @{Html.RenderPartial("_ValidationScriptsPartial");}
        <script>
            alertify.error('@errorMessage');
        </script>
    }
}