@{ ViewData["Titulo"] = "Developed as a team by:"; }
<h1 class="mt-5">@ViewData["Titulo"]</h1>
<div class="card-deck mt-5">

    <div class="col-sm-4">
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="~/img/Cesar.jpeg" alt="...">
            <div class="card-body">
                <h3 class="card-title"> César García</h3>
                <h5 class="card-title"> Rol:</h5>
                <h5 class="card-title"> Back-End + Front-End</h5>
                <p class="card-text"> <a href="mailto:cesar.osc.garcia@gmail.com">cesar.osc.garcia@gmail.com</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="~/img/Andrea.jpeg" alt="...">
            <div class="card-body">
                <h3 class="card-title"> Andrea Felizzola</h3>
                <h5 class="card-title"> Rol:</h5>
                <h5 class="card-title"> Back-End + Front-End</h5>
                <p class="card-text">  <a href="mailto:felizzolandre@gmail.com">felizzolandre@gmail.com</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="~/img/Tomas.jpeg" alt="...">
            <div class="card-body">
                <h3 class="card-title"> Tomás Bogado</h3>
                <h5 class="card-title"> Rol:</h5>
                <h5 class="card-title"> Front-End + Back-End + Diseño</h5>
                <p class="card-text">  <a href="mailto:mtmbogado21@gmail.com">mtmbogado21@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>


