
@{
    ViewData["Title"] = "NoAutorizado";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-2 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 403</p>
        </div>
        <div class="col-md-10">
            <h3>OPS!!!!</h3>
            <p>Lo sentimos, pero esta página no puede ser accedida con el rol del usuario actual por razones de seguridad.<br />Presione el botón volver para regresar a la navegación previa.</p>
            <a class="btn btn-danger justify-content-center"a href="javascript:history.back()">Volver</a>
        </div>
    </div>
</div>

<div id="footer" class="text-center">
    Erp Grupo5
</div>